<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<section class="section bg-custom-gray" id="price">
  <div class="container">
      <h1 class="mb-5"><span class="text-danger">Projects</span> </h1>
      <div class="row align-items-center">
          <div class="col-md-6 col-lg-3">
              <div class="price-card text-center mb-4">
                  <h3 class="price-card-title">CSAITMS</h3>
                  <ul class="list">
                    <P class="subtitle">City servilance and intelligent traffic monitaring system.</P>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="price-card text-center mb-4">
                <h3 class="price-card-title">Web Development for Nilkanth Textile</h3>
                <ul class="list">
                  <P class="subtitle">Displayed all the Clothes material and made a catelog.</P>
                </ul>
            </div>
        </div>
      </div>
  </div>
</section>

<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
